<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

- Run the ETL process
- Extract bank and market cap data from the JSON file `bank_market_cap.json`
- Transform the market cap currency using the exchange rate data
- Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import glob
import pandas as pd
import requests
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [3]:
links = [r'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json'
        ,r'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json'
        ,r'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv']

csvfile = r'exchange_rates.csv'
jsonfile = r'bank_market_cap.json'

for url in links:
    page = requests.get(url)
    if page.status_code == 200:  
        if (page.headers['Content-type'] == 'application/json'):
            with open(jsonfile, "w+") as f:
                f.write(page.text)
                print('wrting to json')  
            f.close     
    
        else :
                with open(csvfile, "w+", encoding='utf-8') as f:
                    f.write(page.text)
                    print('wrting to csv')  
                f.close

wrting to json
wrting to json
wrting to csv

## Extract

### JSON Extract Function

This function will extract JSON files.

In [4]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

def extract_from_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process)
    print(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [5]:

columns=['Name','Market Cap (US$ Billion)']
bankMarketCap = pd.DataFrame(extract_from_json(jsonfile),columns=columns)
bankMarketCap.head()

                                Name  Market Cap (US$ Billion)
35   Banco Bilbao Vizcaya Argentaria                    60.678
36                   Japan Post Bank                    60.525
37       The Bank of New York Mellon                    59.823
38  Shanghai Pudong Development Bank                    58.796
39           Industrial Bank (China)                    57.388

In [20]:
lst = []

def extract():
    # Write your code here 
    for csvfile in glob.glob('*.csv'):
                getcsvData = pd.read_csv(csvfile)
                lst.append(getcsvData)
                return lst

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [7]:

# Write your code here

data = extract()
csvdata = pd.DataFrame(data[0])
csvdata.rename(columns = {'':'0','Unnamed: 0':'exchange_rate', }, inplace = True)
gbpData = csvdata[csvdata['exchange_rate']=='GBP'] 
exchange_rate = gbpData['Rates'].to_string(index=False)
exchange_rate

'0.732398'

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1. Changes the `Market Cap (US$ Billion)` column from USD to GBP
2. Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3. Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [8]:
def transform(rawDataExchangeRate, exchangeRate):
    columns = ['Name', 'Market Cap (US$ Billion)']
    marketcap = pd.DataFrame(rawDataExchangeRate, columns=columns)
    
    marketcap['Market Cap (GBP£ Billion)'] = round(marketcap['Market Cap (US$ Billion)'] * float(exchangeRate), 3)
    marketcap.drop('Market Cap (US$ Billion)', axis = 'columns', inplace=True)
    return marketcap

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [9]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile,index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [10]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' 
    now = datetime.now() 
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [11]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [12]:
# Call the function here
extracted_data = extract()

# Print the rows here
extracted_data

[   Unnamed: 0         Rates
 0         AUD      1.297088
 1         BGN      1.608653
 2         BRL      5.409196
 3         CAD      1.271426
 4         CHF      0.886083
 5         CNY      6.483139
 6         CZK     21.510117
 7         DKK      6.119757
 8         EUR      0.822504
 9         GBP      0.732398
 10        HKD      7.752509
 11        HRK      6.222652
 12        HUF    294.135549
 13        IDR  14097.902616
 14        ILS      3.281132
 15        INR     73.011186
 16        ISK    129.133081
 17        JPY    103.791742
 18        KRW   1105.839776
 19        MXN     19.932966
 20        MYR      4.043017
 21        NOK      8.497121
 22        NZD      1.393733
 23        PHP     48.070406
 24        PLN      3.732933
 25        RON      4.008883
 26        RUB     74.930827
 27        SEK      8.292071
 28        SGD      1.328261
 29        THB     30.009870
 30        TRY      7.418572
 31        USD      1.000000
 32        ZAR     15.118441,
    Unnamed: 0         Rates
 0         AUD      1.297088
 1         BGN      1.608653
 2         BRL      5.409196
 3         CAD      1.271426
 4         CHF      0.886083
 5         CNY      6.483139
 6         CZK     21.510117
 7         DKK      6.119757
 8         EUR      0.822504
 9         GBP      0.732398
 10        HKD      7.752509
 11        HRK      6.222652
 12        HUF    294.135549
 13        IDR  14097.902616
 14        ILS      3.281132
 15        INR     73.011186
 16        ISK    129.133081
 17        JPY    103.791742
 18        KRW   1105.839776
 19        MXN     19.932966
 20        MYR      4.043017
 21        NOK      8.497121
 22        NZD      1.393733
 23        PHP     48.070406
 24        PLN      3.732933
 25        RON      4.008883
 26        RUB     74.930827
 27        SEK      8.292071
 28        SGD      1.328261
 29        THB     30.009870
 30        TRY      7.418572
 31        USD      1.000000
 32        ZAR     15.118441]

Log the data as <code>"Extract phase Ended"</code>

In [13]:
# Write your code here
log("Extract phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [14]:
# Write your code here
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [15]:
# Call the function here

transformed_data = transform(bankMarketCap, exchange_rate)
# Print the first 5 rows here
transformed_data

                                  Name  Market Cap (GBP£ Billion)
35     Banco Bilbao Vizcaya Argentaria                     44.440
36                     Japan Post Bank                     44.328
37         The Bank of New York Mellon                     43.814
38    Shanghai Pudong Development Bank                     43.062
39             Industrial Bank (China)                     42.031
40           Bank of China (Hong Kong)                     40.611
41                    Bank of Montreal                     38.950
42                     Crédit Agricole                     38.188
43                            DBS Bank                     37.700
44                              Nordea                     37.488
45                         Capital One                     37.431
46                       NatWest Group                     36.979
47              Mizuho Financial Group                     36.633
48                       Credit Suisse                     35.493
49        Postal Savings Bank of China                     35.117
50                 China Minsheng Bank                     35.097
51                           UniCredit                     34.992
52                    China CITIC Bank                     34.753
53                      Hang Seng Bank                     33.816
54                    Société Générale                     33.728
55                            Barclays                     33.580
56  Canadian Imperial Bank of Commerce                     31.892
57                   Bank Central Asia                     31.745
58                    Truist Financial                     30.704
59        Oversea-Chinese Banking Corp                     30.293
60                 State Bank of India                     29.708
61                        State Street                     29.127
62                       Deutsche Bank                     28.306
63                            KBC Bank                     28.120
64                         Danske Bank                     27.994
65                        Ping An Bank                     27.826
66                  Standard Chartered                     27.332
67                United Overseas Bank                     25.728
68                           QNB Group                     24.579
69                         Bank Rakyat                     24.228

Log your data <code>"Transform phase Ended"</code>

In [16]:
# Write your code here
log("Transform phase Ended")

### Load

Log the following `"Load phase Started"`.

In [17]:
# Write your code here
log("Load phase Started")

Call the load function

In [18]:
# Write your code here
load('bank_market_cap_gbp.csv',transformed_data)

Log the following `"Load phase Ended"`.

In [19]:
# Write your code here
log("Load phase Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).